<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Aplicação com <%= title %></h1>
    <p>Bem vindo a minha primeira aplicação com <%= title %></p>
  </body>
</html>
