<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Modulo05.Properties.Settings.Curso2541ConnectionString"
            connectionString="Data Source=LON-DEV-01;Initial Catalog=Curso2541;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>