vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_httpdversion:SX|Microsoft-IIS/5.1
vti_textextensions:SX|.txt.actproj.asm.c.cc.cod.cpp.cs.cxx.dbs.def.dsp.dsw.etp.ext.fky.h.hpp.hxx.i.idl.inc.inl.jsl.kci.lgn.lst.mak.map.mk.odh.odl.prc.rc.rc2.rct.rgs.rul.s.sol.sor.sql.srf.tab.tlh.tli.trg.txt.udf.udt.user.usr.vb.vcproj.viw.vspscc.vsscc.vssscc.
vti_featurelist:VX|vti_ACIPAddresses vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServiceMarkUrlDirExec vti_ServerEmailTransport
vti_dependenciesood:IR|0
vti_webservertype:SR|msiis
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_categories:VR|Viagens Relatório\\ de\\ despesas Negócios Competição Metas/objetivos Idéias Disposições\\ gerais Aguardando VIP Em\\ processo Planejamento Agenda
vti_htmlextensions:SX|.htm.html.stm.html.htm.shtml.shtm.htt.htx.asp.alx.asa.
vti_approvallevels:VR|Revisão\\ do\\ conteúdo Revisão\\ legal Revisão\\ do\\ código Revisão\\ do\\ gerente
vti_timecreated:TR|14 Jun 2006 17:49:20 -0000
vti_extenderversion:SR|4.0.2.8912
vti_longfilenames:IX|1
vti_welcomenames:VX|Default.htm Default.asp index.htm iisstart.asp
vti_insecureserverurl:SR|http://localhost
vti_secureserverurl:SR|https://localhost
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
