<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>RsoPSheSoyEmu+K6cQlev+C8bjM3Pa1EuI/MYlapcnvdUH7uVn8Emef9Qq6juQMTYV34jAPYwochMIdMG95PAc96pNYuVwDw0BdoCA6w/+FYiRxqEHvK2dvL4dn666xMhr26USwGYP7plmle4200G2EdPV9qhpqYnEEemsF826Q=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>z2xDQBDjDp+tiHsaVVHcRfO4h5Fbwzn6YYPPqo7iymQ0T79vR6j9p8YsHcxifNznq1xxHFD9ZYaPrnJPA6RyotoD0axPjNTquv3CBHJ7GnXUoQ4obMu8utPM3ix8NPhSauhXLKwMFT38PGcPrwjyM/tRx0Qb46dO/6nqSijacEkSfzsAM3bjsUfRBLwThk5GtapQXzECGOcnKfQTMYiDk3HtDVaZ0xLWdjx3vmuZLUZODVjaRBDa3SSyRKcJHDbPKEAcVX1SFG76ODK0g51IcFiQ+f5uDXQjBmK6PjrSb1xacNSOKpMWFYV03b1L5ADQZe/1IBdRzHjklLgBsFmuoQ==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <system.web>
      <identity impersonate="true"/>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
